---
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import SectionName from '@components/SectionName.astro'
import PlayDay from '@components/PlayDay.astro'
---

<Layout title='Calendario'>
	<main class='bg-violet-300'>
		<SectionName name='CALENDARIO NEXO' />
		<Container><PlayDay /></Container>
	</main>
</Layout>
