---
import Header from '@components/Header.astro'
import Layout from '@layouts/Layout.astro'
---

<Header />
<Layout title='Liga Nexo - Fan Website'>
	<div class='container m-auto'>
		<main></main>
	</div>
</Layout>
