---
import Layout from '../layouts/Layout.astro'

const response = await fetch('https://liga-nexo-api.liga-nexo.workers.dev/teams')
const teams = await response.json()
---

<Layout title='Liga Nexo - Fan Website'>
	<div class='container m-auto'>
		<main>
			<header class='flex justify-center'>
				{
					teams.map(({ name, id, logo }) => (
						<a href={`/equipo/${id}`}>
							<img
								class='aspect-square w-60 justify-center'
								src={logo}
								alt={`Escudo del equipo ${name}`}
							/>
						</a>
					))
				}
				<nav>
					<ul>
						<li>
							<a href='/equipos'>Equipos</a>
						</li>
						<li>
							<a href='/calendario'>Calendario</a>
						</li>
						<li>
							<a href='/estadisticas'>Estadisticas</a>
						</li>
						<li>
							<a href='/contacto'>Contacto</a>
						</li>
					</ul>
				</nav>
			</header>
		</main>
	</div>
</Layout>
