---
import BestPlayerCard from '@components/BestPlayerCard.astro'
import Container from '@components/Container.astro'
import LeaderBoardTable from '@components/LeaderBoardTable.astro'
import NextMatchTable from '@components/NextMatchTable.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Liga Nexo - Web Fan'>
	<main class='bg-violet-300'>
		<Container>
			<div class='grid grid-cols-1 lg:grid-cols-1 gap-10 w-full px-4 md:px-8'>
				<div class='col-span-1 xl:col-span-1 flex flex-col gap-y-10 my-5 justify-end'>
					<NextMatchTable />
				</div>
			</div>
			<div class='grid grid-cols-7 lg:grid-cols-7 gap-10 w-full px-4 md:px-8'>
				<div class='col-span-4 lg:col-span-4 xl:col-span-4 my-[20px] lg:mt-0'>
					<LeaderBoardTable />
				</div>
				<div class='col-span-3 lg:col-span-3 xl:col-span-3 my-[20px] lg:mt-0'>
					<BestPlayerCard
						smallerBox
						teamName='Oxygen Valiants'
						teamId='oxygen-valiants'
						teamImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/ecorp.svg'
						playerName='Babeta'
						playerImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/oxygen-valiants.svg'
						title='2.81'
						subtitle='MEJOR KDA LIGA NEXO'
					/>
					<BestPlayerCard
						smallerBox
						teamName='Oxygen Valiants'
						teamId='oxygen-valiants'
						teamImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/ecorp.svg'
						playerName='Babeta'
						playerImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/oxygen-valiants.svg'
						title='2.81'
						subtitle='MEJOR KDA LIGA NEXO'
					/>
					<BestPlayerCard
						smallerBox
						teamName='Oxygen Valiants'
						teamId='oxygen-valiants'
						teamImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/ecorp.svg'
						playerName='Babeta'
						playerImage='https://liga-nexo-api.liga-nexo.workers.dev/static/logos/oxygen-valiants.svg'
						title='2.81'
						subtitle='MEJOR KDA LIGA NEXO'
					/>
				</div>
			</div>
		</Container>
	</main>
</Layout>
