---
import Container from './Container.astro'
---

<section class='bg-nexo py-5'>
	<Container>
		<h1 class='text-white text-5xl font-black text-center uppercase'>
			{Astro.props.name}
		</h1>
	</Container>
</section>
