---
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import TeamsSelector from '@components/TeamsSelector.astro'
import SectionName from '@components/SectionName.astro'
---

<Layout title='Equipos'>
	<main class='bg-violet-300'>
		<SectionName name='EQUIPOS NEXO' />
		<Container>
			<TeamsSelector />
		</Container>
	</main>
</Layout>
